name: Python checks

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout reposistory
        uses: actions/checkout@master
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Install pytest
        run: |
          pip install pytest
          pip install pytest-asyncio
      - name: Install package
        run: pip install .
      - uses: pre-commit/action@v3.0.1
      - name: Run testcases
        run: pytest
      - name: Build binary wheel and a source tarball
        run: python setup.py sdist
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user
      - name: Build a binary wheel and a source tarballd
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .
